@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("fonts/Atkinson-Hyperlegible/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"),
        url("fonts/Atkinson-Hyperlegible/WOFF/Atkinson-Hyperlegible-Regular-102.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("fonts/Atkinson-Hyperlegible/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2"),
        url("fonts/Atkinson-Hyperlegible/WOFF/Atkinson-Hyperlegible-Bold-102.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("fonts/Atkinson-Hyperlegible/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2"),
        url("fonts/Atkinson-Hyperlegible/WOFF/Atkinson-Hyperlegible-Italic-102.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("fonts/Atkinson-Hyperlegible/WOFF2/Atkinson-Hyperlegible-BoldItalic-102a.woff2") format("woff2"),
        url("fonts/Atkinson-Hyperlegible/WOFF/Atkinson-Hyperlegible-BoldItalic-102.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("fonts/JetBrains-Mono/fonts/webfonts/JetBrainsMono-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("fonts/JetBrains-Mono/fonts/webfonts/JetBrainsMono-Bold.woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("fonts/JetBrains-Mono/fonts/webfonts/JetBrainsMono-Italic.woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("fonts/JetBrains-Mono/fonts/webfonts/JetBrainsMono-BoldItalic.woff2");
    font-weight: bold;
    font-style: italic;
}

div#control_center_window,
div#control_center_window p,
div#control_center_window div,
div#control_center_window a,
div#control_center_window table {
    font-family: "Atkinson Hyperlegible" !important;
}

div#control_center_window pre {
    font-family: "JetBrainsMono" !important;
}

table#SUR-System-Table {
    width: 100%;
    border-collapse: collapse;
}

table#SUR-System-Table tr.odd {
    background-color: white !important;
}

table.roleTable tr.odd,
table.roleTable tr.odd>td.dtfc-fixed-left {
    background-color: white !important;
}

table.roleTable tr.even,
table.roleTable tr.even .dtfc-fixed-left {
    background-color: #efefef !important;
}

table.roleTable tr.odd td.highlight,
table.roleTable tr.odd>td.dtfc-fixed-left.highlight,
table.roleTable tr.even td.highlight,
table.roleTable tr.even>td.dtfc-fixed-left.highlight {
    background-color: #d9ebf5 !important;
}

select.roleSelect {
    width: 100%;
}

form#SUR_Role_Setting {
    font-family: "Atkinson Hyperlegible" !important;
}

form#SUR_Role_Setting div.form-row {
    margin: 5px -5px;
}

form#SUR_Role_Setting hr {
    margin: 0.5rem 0;
}

form#SUR_Role_Setting .section-header {
    color: #A00000;
    font-size: 11px;
}

form#SUR_Role_Setting .extra-text {
    margin-left: 1.5rem;
    font-size: 11px;
    color: #777;
}

a.SUR_roleLink {
    font-weight: bold;
    color: #0000D0;
}

a.SUR_roleLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

div.modal-xl {
    max-width: 1250px;
}

div#pagecontainer {
    max-width: 1600px;
}

.form-check-label {
    margin-top: .3rem !important;
}

div#roleTableWrapper {
    border: 1px solid rgba(0, 0, 0, 0.30);
}

table.roleTable thead th {
    border-right: solid 1px rgba(0, 0, 0, 0.15);
}


table.roleTable thead .dtfc-fixed-left {
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}