@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("fonts/Atkinson-Hyperlegible/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"),
        url("fonts/Atkinson-Hyperlegible/WOFF/Atkinson-Hyperlegible-Regular-102.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("fonts/Atkinson-Hyperlegible/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2"),
        url("fonts/Atkinson-Hyperlegible/WOFF/Atkinson-Hyperlegible-Bold-102.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("fonts/Atkinson-Hyperlegible/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2"),
        url("fonts/Atkinson-Hyperlegible/WOFF/Atkinson-Hyperlegible-Italic-102.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("fonts/Atkinson-Hyperlegible/WOFF2/Atkinson-Hyperlegible-BoldItalic-102a.woff2") format("woff2"),
        url("fonts/Atkinson-Hyperlegible/WOFF/Atkinson-Hyperlegible-BoldItalic-102.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("fonts/JetBrains-Mono/fonts/webfonts/JetBrainsMono-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("fonts/JetBrains-Mono/fonts/webfonts/JetBrainsMono-Bold.woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("fonts/JetBrains-Mono/fonts/webfonts/JetBrainsMono-Italic.woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("fonts/JetBrains-Mono/fonts/webfonts/JetBrainsMono-BoldItalic.woff2");
    font-weight: bold;
    font-style: italic;
}

div#control_center_window,
div#control_center_window p,
div#control_center_window div,
div#control_center_window a,
div#control_center_window table {
    font-family: "Atkinson Hyperlegible" !important;
}

div#control_center_window pre {
    font-family: "JetBrainsMono" !important;
}

table#SUR-System-Table {
    width: 100%;
    border-collapse: collapse;
}

table#SUR-System-Table tr.odd {
    background-color: white !important;
}

table#roleTable tr.odd {
    background-color: white !important;
}

select.roleSelect {
    width: 100%;
}

#SUR_Role_Setting {
    font-family: "Atkinson Hyperlegible" !important;
}

a.SUR_roleLink {
    font-weight: bold;
    color: #C00000;
}

a.SUR_roleLink:hover {
    text-decoration: underline;
    cursor: pointer;
}